/src/notebooks/sbi-logs
/src/sbi_for_diffusion_models/__pycache__
/sbi-logs/MNLE/2026-01-02T19_13_31.902318
/sbi-logs/MNLE
/models/mnle_rt_choice.pt
/models/npe_rt_choice.pt
sbi-logs/NPE_C
/npe_outputs
/sbc_outputs
marmoset_data.csv.gz
CLAUDE.md
prior_predictive_outputs/

# output files
/sbc_outputs
/logs
/marmoset_outputs
/models
/npe_outputs_lapse
/prior_predictive_outputs_v3
/sbc_outputs_lapse
/posterior_update_outputs

# job scripts
*.sh